<mat-card *ngIf="userData" class="user-detail-header">
    <button [matMenuTriggerFor]="userMenu" class="more-icon" mat-icon-button >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button (click)="editUserDetail()" mat-menu-item>Edit</button>
      </mat-menu>
    <mat-card-content>
        <img class="avatar" src="assets/img/avatar.png" alt="">
        <div class="user-details">
            <h2>{{userData.firstName}} {{userData.lastName}}</h2>
            {{userData.email}}
        </div>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="userData" class="mt-32">
    <button [matMenuTriggerFor]="addressMenu" class="more-icon" mat-icon-button >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #addressMenu="matMenu">
        <button (click)="editAddress()" mat-menu-item>Edit</button>
      </mat-menu>
    <mat-card-content class="user-address">
        <mat-card-title>Address</mat-card-title>
        {{userData.street}} <br>
        {{userData.zipCode}} {{userData.city}}
    </mat-card-content>
</mat-card>